<div id="ankilex-front-root"></div>

<script id="raw-data" type="application/json">{{data}}</script>
<div id="raw-audio" style="display: none;">{{audio}}</div>

<script>
  {{! FRONT_SCRIPT }}
  if (typeof AnkiCard !== "undefined") AnkiCard.initAnkiFront();
</script>